#projects-nav {
  position: fixed;
  left: 0
}

.project-listing {
  margin-block: 4rem;
  padding: 1rem;
  text-align: justify;
  border-left: 2px solid transparent;
}

.project-listing h2 {
  margin-block: 1rem;
}

.project-listing:target {
  border-color: white;
}
