body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: black;
  color: white;
}

p {
  font-size: 1rem;
  color: #eee
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.125rem;
}

h2 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

small {
  font-size: 0.85rem;
}

a {
  color: white;
}

/* From https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

footer {
  text-align: center;
}

nav ul {
  margin-block: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

nav li {
  display: block;
  font-weight: bold;
  color: inherit;
  list-style: none;
  padding: 0;
}

nav a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav .active a {
  background-color: white;
  border-radius: 50vw;
  color: black;
}

nav a:hover, nav a:focus-visible {
  text-decoration: underline 0.125rem currentColor;
}

.unstyled {
  list-style: none;
  padding: 0;
}

.vertical-nav {
  display: grid;
  gap: 0.5rem;
}

.horizontal-list {
  display: flex;
  gap: 3rem;
}

.read-more {
  float: left;
  padding: 0.5rem 0;
}

.button-link {
  float: right;
  border-radius: 50vw;
  padding: 0.5rem 1rem;
  background-color: white;
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-left: 1rem;
}

.primary {
  background-color: darkred;
  color: white;
}

.center {
  max-width: fit-content;
  text-align: center;
  margin-inline: auto;
}

.tag {
  font-family: monospace;
  font-size: 0.875rem;
  background-color: #222;
  color: #ddd;
  padding: 0.25rem;
  margin-inline: 0.125rem;
}

img.logo {
  max-width: 2rem;
}

img.thumbnail {
  width: 100%;
  max-width: 32rem;
}